
Discord.Net-Addons/GlobalStatic/ExampleBot/GlobalStatic_ExampleBot/obj/Debug/netcoreapp2.0/project.razor.json
Discord.Net-Addons/GlobalStatic/ExampleBot/GlobalStatic_ExampleBot/obj/Debug/netcoreapp2.0/GlobalStatic_ExampleBot.csproj.CoreCompileInputs.cache
Discord.Net-Addons/GlobalStatic/ExampleBot/GlobalStatic_ExampleBot/obj/Debug/netcoreapp2.0/GlobalStatic_ExampleBot.AssemblyInfoInputs.cache
Discord.Net-Addons/GlobalStatic/ExampleBot/GlobalStatic_ExampleBot/obj/Debug/netcoreapp2.0/GlobalStatic_ExampleBot.AssemblyInfo.cs
Discord.Net-Addons/GlobalStatic/ExampleBot/GlobalStatic_ExampleBot/GlobalStatic_ExampleBot.csproj
Discord.Net-Addons/GlobalStatic/ExampleBot/GlobalStatic_ExampleBot/obj/project.assets.json
Discord.Net-Addons/GlobalStatic/ExampleBot/GlobalStatic_ExampleBot/obj/GlobalStatic_ExampleBot.csproj.nuget.g.targets
Discord.Net-Addons/GlobalStatic/ExampleBot/GlobalStatic_ExampleBot/obj/GlobalStatic_ExampleBot.csproj.nuget.g.props
Discord.Net-Addons/GlobalStatic/ExampleBot/GlobalStatic_ExampleBot/obj/GlobalStatic_ExampleBot.csproj.nuget.cache
Discord.Net-Addons/GlobalStatic/ExampleBot/GlobalStatic_ExampleBot/obj/Debug/netcoreapp2.0/GlobalStatic_ExampleBot.csprojAssemblyReference.cache
Discord.Net-Addons/GlobalStatic/ExampleBot/GlobalStatic_ExampleBot/obj/Debug/netcoreapp2.0/GlobalStatic_ExampleBot.assets.cache
Discord.Net-Addons/GlobalStatic/ExampleBot/GlobalStatic_ExampleBot/GlobalStatic_ExampleBot.csproj
Discord.Net-Addons/GlobalStatic/ExampleBot/GlobalStatic_ExampleBot/GlobalStatic_ExampleBot.csproj
